version: "3.8"
services:
    db:
        image: postgres:latest
        env_file: ./envs/dev.env
        ports:
            - 5432:5432

    migration:
        build: .
        env_file: ./envs/dev.env
        command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; python manage.py migrate'

        stdin_open: true
        tty: true

        depends_on:
            - db

    web:
        build: .
        env_file: ./envs/dev.env
        command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; python manage.py runserver 0.0.0.0:8000'

        stdin_open: true
        tty: true
        ports:
            - 8000:8000

        depends_on:
            - db
            - migration

        volumes:
            - .:/code
